.lazy-image {
    display: flex;
    animation: lazy-image-pulse 0.7s infinite alternate ease-in-out;

    & > img {
        visibility: hidden;
        width: 100%;
        height: 100%;
    }

    &.loaded {
        animation: none;

        & > img {
            visibility: visible;
        }
    }
}

@keyframes lazy-image-pulse {
    from {
        background-color: var(--bg-quarter-secondary);
    }

    to {
        background-color: var(--bg-half-secondary);
    }
}