.lazy-image {
    display: flex;
    animation: lazy-image-pulse 1s infinite alternate ease-in-out;

    & > img {
        visibility: hidden;
    }

    &.loaded {
        animation: none;

        & > img {
            visibility: visible;
        }
    }
}

@keyframes lazy-image-pulse {
    from {
        background-color: var(--bg-secondary);
    }

    to {
        background-color: var(--bg-tertiary);
    }
}