.sidebar {
    background-color: rgba(64, 64, 64, 0.4);
    backdrop-filter: blur(8px);
    padding-block: 0.5rem;
    white-space: nowrap;

    > h4 {
        padding-inline: 0.75rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;

        > a {
            padding: 0.25rem 0.75rem;
            transition: all ease-out 100ms;

            &:hover, &:focus-visible {
                padding-left: 1.5em;
            }

            &:hover, &:focus {
                background-color: var(--bg-secondary);
            }

            &.active {
                background-color: var(--bg-tertiary);
            }

            > .inline-profile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
            }
        }
    }
}
