:root {
    /* Backgrounds */
    --bg-main: oklch(0% 0 0);
    --bg-quarter-secondary: oklch(20% 0 0);
    --bg-half-secondary: oklch(25% 0 0);
    --bg-secondary: oklch(35% 0 0);
    --bg-tertiary: oklch(45% 0 0);
    --bg-disabled: oklch(20% 0 0);
    --bg-discord: #5865f2;
    --bg-bad: color-mix(in oklab, var(--bg-main) 25%, var(--text-bad));
    /* Borders */
    --border-main: oklch(65% 0 0);
    /* Text */
    --text-main: oklch(95% 0 0);
    --text-secondary: oklch(65% 0 0);
    --text-tertiary: oklch(60% 0 0);
    --text-warning: yellow;
    --text-bad: lightcoral;
    --text-good: lightgreen;
    /* Other */
    --rounded: 0.25em;
    --rounded-extra: 0.5em;
    --transition-duration: 100ms;
}

html {
    height: 100svh;
    width: 100svw;
    background-color: var(--bg-main);
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--text-main);
}

main {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, summary, dialog {
    transition: all ease-out var(--transition-duration);
}

a, button, input, summary, dialog {
    outline-width: 2px;
    outline-color: gold;

    &:focus-visible {
        outline-style: solid;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

section {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: var(--rounded);
    background-color: var(--bg-secondary);
    color: inherit;
    padding: 0.25em 0.5em;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--bg-disabled);
        color: var(--text-secondary);
    }

    &:enabled {
        &:active, &:hover {
            border-color: var(--border-main);
        }

        &:active {
            scale: 90%;
        }
    }
}

input {
    font-size: inherit;
    border: solid 2px transparent;
    border-radius: var(--rounded);
    background-color: var(--bg-secondary);
    color: inherit;
    padding: 0.25em;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--bg-disabled);
        color: var(--text-secondary);
    }

    &:enabled:hover {
        border-color: var(--border-main);
    }

    &[type="text"] {
        min-width: 320px;
    }

    &[type="checkbox"] {
        margin: 0;
    }
}

pre {
    border-radius: var(--rounded-extra);

    > code {
        border-radius: inherit;
        padding: 0.5em 1em 0.5em 0.75em !important;
    }
}

details {
    padding-inline: 0.25em;

    > summary {
        padding: 0.1em 0.5em;
        border-radius: var(--rounded);
        cursor: pointer;
        user-select: none;

        &:hover, &:active {
            background-color: var(--bg-secondary);
        }

        &:active {
            scale: 98%;
        }
    }
}

dialog {
    padding: 0.75rem;
    max-width: min(90%, 500px);
    max-height: 80%;
    overflow: auto;
    background-color: var(--bg-main);
    color: inherit;
    border: solid 2px var(--border-main);
    animation: grow forwards var(--transition-duration);
    border-radius: var(--rounded);

    &::backdrop {
        backdrop-filter: blur(12px);
    }
}

@keyframes grow {
    from {
        scale: 0%;
    }

    to {
        scale: 100%;
    }
}