.error-dialog-html-display {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;

    > pre {
        background-color: var(--bg-disabled);
        padding: 0.5em 1em;
        overflow: auto;
        max-width: 100%;
        box-sizing: border-box;
    }
}

.error-dialog-rest {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > p {
        color: var(--text-secondary);
    }
}